<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Display all users</title> 
        <link rel="stylesheet" href='/style.css'>

    </head>
    
    <body>
        <%- include('./partials/nav.ejs') %>

        <div>
            <h2>All Users</h2>
            <hr>
            <% if(data!=null) { %>
                <table>
                    <tr>
                        <th>First Name </th>
                        <th>Last Name </th> 
                        <th>Email </th>
                        <th>Mobile </th>
                        <th>Likes </th>
                    </tr>
                    <% data.forEach(item =>{ %>
                        <tr>
                            <td><%= item.firstname %></td>
                            <td><%= item.lastname %></td>
                            <td><%= item.email %></td>
                            <td><%= item.mobile %></td>
                            <td><%= item.likes%></td>
                        </tr>
                    <% }) %>
                </table>
            <% }else{ %>
                <h4>There is no data to display</h4>
                <% } %>
        </div>
   

        <br><br><br><br>
        <footer>
            Copyright &copy; User 2021
        </footer>

    </body>
</html>

