<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Register user</title> 
        <link rel="stylesheet" href='/style.css'>
        <link rel="stylesheet" href="https://designsystem.sendinblue.com/component/clickable/b050553de3ec3c9d98a4.css"> 
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    </head>
<body>     
    <%- include('./partials/nav.ejs') %>
    <header>
        <h2><u>User Management Portal</u></h2>
    </header>
    <br><br>
    <div class="two">
        <h3 class="update"><u>Update information of user with id <%= id %></u></h3>
        <form class="formMaintain">
            <div class="row">
                <div class="col">
                    <label for="firstName" class="form-label">First Name:</label>
                    <input type ="text" id="firstname" name="firstname" class="form-control" aria-describedby="firstnameHelp">
                    <div id="firstnameHelp" class="form-text text-size">First name should contain only letters.</div>
                </div>
                <div class="col">
                    <label for="lastName" class="form-label">Last Name:</label>
                    <input type ="text" id="lastname" name="lastname" class="form-control" aria-describedby="lastnameHelp">
                    <div id="lastnameHelp" class="form-text text-size">Last name should contain only letters.</div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col">
                    <label for="email" class="form-label">Email:</label>
                    <input type="email" class="form-control" id="email" name="email" >
                </div>
                <div class="col">
                    <label for="age" class="form-label">Age:</label>
                    <input type="number" class="form-control" id="age" name="age" >
                </div>
                <div class="col">
                    <label for="active" class="form-label">Active:</label>
                    <select class="form-control" aria-label="Default select example" id='active' name='active'>
                        <option value=true>True</option>
                        <option value=false>False</option>
                    </select>  
                </div>                 
            </div>   
            <br>
            <div class="row">
                <div class="col">
                    <label for="address" class="form-label">Address:</label>
                    <input type ="text" id="address" name="address" class="form-control" >
                </div>
                <div class="col">
                    <label for="mobile" class="form-label">Mobile:</label>
                    <input type="text" class="form-control" id="mobile" name="mobile" >
                </div>
            </div> 
            <br>
            <button type="submit" id="updateButton" class="clickable_button">Submit</button>
            <br><br>
        </form>
    </div>
    <br><br><br>
    <%- include('./partials/footer.ejs') %>

    <script>
        document.getElementById('updateButton').addEventListener("click", async function (event) {
            event.preventDefault();
            let api='http://localhost:3000/user/'+ '<%= id %>';
            const data = document.getElementById.bind(document);
            const value= {
                age: data('age').value, 
                firstname: data('firstname').value, 
                lastname: data('lastname').value, 
                email:data('email').value,
                mobile:data('mobile').value,
                active: data('active').value,
                address: data('address').value, 
            }
            if (confirm('Are you sure, you want to update?')) {
                await axios.put(api, value, {
                    headers: {
                        'Content-Type': 'application/json'                       
                    }})
                    .then(response => {
                        console.log(response.data);
                        if(response.data==='updated'){
                            location.href='http://localhost:3000/user/' + '<%=id %>';
                        }
                })
                .catch(error => console.error(error)); 
            }     
        });
    </script>  
</body>
</html>
    